<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Log In Form</title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" />
  <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
  <div class="container">
    <h1 class="brand"><span>Welcome User </span> Log In </h1>
    <div class="wrapper animated bounceInLeft">
      <div class="company-info">
        <h3>Election Commission Of India</h3>
        <ul>
          <li><i class="fa fa-road"></i>Election Commission Of India</li>
          <li><i class="fa fa-phone"></i> 011-25281026</li>
          <li><i class="fa fa-envelope"></i>EC@gmail.com</li>
        </ul>
      </div>
      <div class="contact">
        <h3>Please Enter Your Details </h3>
        <% if (messages.error) { %>
        <%= messages.error %>
        <% } %>
        <form method="POST" action="/login">
          <!--<p>
            <label>Firstname</label>
            <input type="text" name="firstname" required>
          </p>
          <p>
            <label>Adhaar Number</label>
            <input type="text" name="AdharNumber" required>
          </p>
          <p> -->
          <p>
            <label>Email Address</label>
            <input type="email" name="email" required>
          </p>
          <p>
            <!--<label>Phone Number</label>
            <input type="number" name="phone" required>
          </p>
          <p> -->
            <label>Voter Id</label>
            <input type="number" name="voterID" required>
          </p>
          <p class="full">
            <label>Password</label>
            <input type="password" id="password" name="password" required>
          </p>

          <p class="full">
            <button type="submit">Submit</button>
          </p>
          <a class="login-btn" href="/">Sign up</a>
        </form>
      </div>
    </div>
  </div>
</body>

</html>