<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Begin Voting</title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" />
  <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
 
  <div class="container">
    <h1 class="brand"><span>Welcome <%=name%> </span> VOTE NOW</h1>
    <div class="wrapper animated bounceInLeft">
      <div class="company-info">
        <h3>Election Commission Of India</h3>
        <ul>
          <li><i class="fa fa-road"></i>Election Commission Of India</li>
          <li><i class="fa fa-phone"></i> 011-25281026</li>
          <li><i class="fa fa-envelope"></i>EC@gmail.com</li>
        </ul>
      </div>
      <div class="contact">
        <h3>Vote Now <%=name%></h3>
        <h3> वोट अब शिवम </h3>
        <form method="POST" action="/enter-otp-to-vote">
          <!--<p>
            <label>Firstname</label>
            <input type="text" name="firstname" required>
          </p>
          <p>
            <label>Lastname</label>
            <input type="text" name="lastname" required>
          </p>
          <p> -->
          <!-- <p>
            <label>Email Address</label>
            <input type="email" name="email" required>
          </p> -->
          <p>
            <label>Voter Id *</label>
            <input type="text" name="VoterID" required >
            
          </p>
          <p> 
            <label>Phone Number</label>
            <input type="number" name="phone">
          </p>
          
          <p class="full">
            <button type="submit">Submit</button>
          </p>
            
        </form>
      </div>
    </div>
  </div>
  <video id = "vid" autoplay class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2"></video>
  <script>
      navigator.mediaDevices.getUserMedia({
          audio:false,
          video: {
              width:{
                  min:400,
                  max:400
              },
              height:{
                  min:250,
                  max:250
              }
          }
      })
      .then(stream => {
          document.getElementById("vid").srcObject = stream;
      })
      .catch(err => {
          console.log(err.name, err.message);
      });
  </script>
  <img src = "../public/Aadhar1.png" style="height: 250px; width: 400px;"/>
  <img src = "../public/Aadhar2.png" style="height: 250px; width: 400px;"/>
  
</body>
</html>




